.link-attribute {
  text-decoration: none;
  font-family: var(--corps);
  font-size: var(--font-size-md);
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  width: 40%;
  text-align: center;
  padding: 0.8vh 1.5vw;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.link-attribute:hover {
  background-color: rgb(255, 255, 255);
  color: var(--dark-grey);
  cursor: pointer;
}
