#header-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--light-grey);
}
#name-container {
  align-content: center;
  font-family: var(--title-font);
  font-size: var(--font-size-xl);
  padding-left: 2vw;
}
#navbar-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 7vw;
  padding-right: 2vw;
  justify-content: end;
}
.navbar-items {
  background-color: rgb(253, 253, 253);
  padding: 1vh 1vw;
}
.navbar-link {
  text-decoration: none;
  color: var(--dark-grey);
  font-family: var(--title-font);
  font-size: var(--font-size-xl);
}

.navbar-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3vh;
  background: var(--pink);
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.navbar-link:hover::after {
  transform: scale(1);
}
.navbar-link:hover {
  color: var(--pink);
}
#name-link {
  text-decoration: none;
  color: var(--dark-grey);
}
