#animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  height: 83vh;
}
#job-container {
  font-family: var(--corps);
  font-size: var(--font-size-lg);
  color: var(--grey);
  width: 40vw;
  text-align: center;
}
#mouse-img {
  height: 6vh;
  width: 6vh;
  padding-bottom: 2vh;
}
#accueil-container {
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons-container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#projets-en-cours-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8vh;
  gap: 8vh;
}

#view-projets-link {
  text-decoration: none;
  color: var(--grey);
  font-family: var(--corps);
  border: 1px solid var(--light-grey);
  padding: 2vh 2vw;
  border-radius: 5px;
}
#view-projets-link:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}
#stack-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 2vh;
}
#ma-stack-container {
  padding-bottom: 5vh;
}

.gallery-component {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  height: 30vh;
  width: 70vw;
}
