@font-face {
  font-family: "Infinity";
  src: url("./assets/fonts/MADEINFINITYBesidePersonalUse-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "InfinityBold";
  src: url("./assets/fonts/MADEINFINITYBesidePersonalUse-Black.otf")
    format("opentype");
}
/* Regular */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter.ttf") format("truetype");
}

:root {
  --pink: hotpink;
  --grey: #31302f;
  --title-font: "Infinity";
  --title-font-bold: "InfinityBold";
  --corps: "Inter";

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font Sizes (responsive) */
  --font-size-2xs: clamp(0.5rem, 0.7vw, 0.875rem); /* 12px → 14px */
  --font-size-xs: clamp(0.75rem, 0.8vw, 0.875rem); /* 12px → 14px */
  --font-size-sm: clamp(0.875rem, 01vw, 1rem); /* 14px → 16px */
  --font-size-md: clamp(1rem, 1.2vw, 1.125rem); /* 16px → 18px */
  --font-size-lg: clamp(1.25rem, 1.5vw, 1.5rem); /* 20px → 24px */
  --font-size-xl: clamp(1.5rem, 2vw, 2rem); /* 24px → 32px */
  --font-size-2xl: clamp(2rem, 2.5vw, 2.5rem); /* 32px → 40px */
  --font-size-3xl: clamp(2.5rem, 3vw, 3rem); /* 40px → 48px */
}
