.photo-stack {
  height: 4vh;
}

.nom-stack-container {
  font-family: var(--corps);
  /* font-weight: var(--font-weight-medium); */
  padding-right: 1vw;
  color: var(--dark-grey);
}
#stack-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
}
